/* style.css */

/* Font-face for BerkshireSwash */
@font-face {
    font-family: 'BerkshireSwash';
    src: url('../fonts/BerkshireSwash-Regular.woff2') format('woff2'),
         url('../fonts/BerkshireSwash-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Navbar color */
.navbar {
    background-color: #bff52c; /* Change to your desired color */
    /* Additional styles */
}

/* Body styling */
body {
    font-family: 'BerkshireSwash', cursive; /* Apply font to the body */
    text-align: justify;
    margin-bottom: 20px; /* Adjust the margin as needed */
    line-height: 1.5; /* Adjust the line height as needed */
}

/* Center the .static element */
.static {
    margin: 2em auto;
}

/* Image styling within .static */
.static img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-style: none;
}

/* Additional styling for the list items */
.list-unstyled {
    margin-top: 10px;
}

/* Additional styling for the layout */
.post-content {
    display: flex;
    align-items: flex-start;
}

/* Styling for the image container */
.image-container {
    margin-right: 20px;
}

/* Change the font and color for specific elements */
h1, h2, h3, h4, h5 {
    font-family: 'BerkshireSwash', cursive; /* Apply font to headings and paragraphs */
    color: rgb(0, 0, 0); /* Change color to your desired value */
    text-align: center;
    padding: 1px;
}

/* p {
    margin-bottom: 20px; /* Adjust the margin as needed 
    line-height: 1.5; /* Adjust the line height as needed  
} */

.body p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.container {
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container */
}

/* Footer color */
.footer {
    background-color: #bff52c; /* Change to your desired color */
    /* Additional styles */
}

/* Define a class for styling the footer */
footer {
    font-family: 'BerkshireSwash', cursive; /* Apply font to the footer */
    font-size: 16px;
    color: black; /* Change color to your desired value */
}
