<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Pik&Go</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}Pik&Go{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100"> <!-- Change min-hv-100 to min-vh-100 -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index')}}">
        <img src="{{ url_for('static', filename='pik_n_go_logo.png') }}" alt="Pik&Go Logo" height="60"
             class="d-inline-block center-top">
        <!-- #MakeItBest -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('download_menu') }}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('earlier_posts') }}">Blog</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container flex-grow-1">
    {% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% endblock %}
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">&copy; 2024 All rights reserved. A brand owned and operated by</span>
        <!-- Add a centered image to the footer -->
        <div class="d-flex justify-content-center">
            <img src="{{ url_for('static', filename='mn_footer.jpg') }}" alt="Footer Image" class="img-fluid mt-4"
                 style="max-width: 50px; max-height: 50px;">
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

