<!-- templates/post.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ post.title }}</h1>
    {% if post.image_filename %}
    <img src="{{ url_for('static', filename='uploads/' + post.image_filename) }}" alt="Post Image" class="img-fluid rounded float-left" style="max-width: 200px; max-height: 200px; margin-right: 20px;">
    {% endif %}
    <p>{{ post.body }}</p>
</div>

<div>
    <button onclick="scrollToTop()" id="scrollToTopBtn" style="display: none; background-color: {{ post.created_at.strftime('#%m%d%H%M') }}; color: #fff; padding: 10px; border: none; border-radius: 5px; cursor: pointer;">Return Home</button>
</div>
<script>
    //scroll to top JavaScript remains unchanged)
</script>
{% endblock %}
